#port-body{
   background-color: black; 
}

#c-fluid{
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}



/*Navbar*/
#nav-word{
    color: #EEEEEE;
}
#nav-word:hover{
    color: #00ADB5;
}

.nav-img{
    height: 100px;
    padding: 0 20px;
}

/*Typography*/

.name{
    display: grid;
    place-items: center;
    color: #EEEEEE;
    font-family: 'Zen Dots', cursive;
    position: relative;
    font-size: 6rem;
    text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, .75),
    -0.025em -0.05em 0 rgba(0, 255, 0, .75),
    0.025em 0.05em 0 rgba(0, 0, 255, .75);
    position: relative;
    animation: glitch 500ms 10000ms;
}

.name span{
    display: grid;
    place-items: center;
    position: absolute;
    
}

.name span:first-child{
    animation: glitch 450ms infinite;
    clip-path: polygon(0 0,100% 0,100% 45%,0 45%);
    transform: translate(-.025em, -0.015em);
    opacity: 50%;
}
.name span:last-child{
    animation: glitch 550ms infinite;
    clip-path: polygon(0 60%,100% 60%,100% 100%,0 100%);
    transform: translate(.025em, 0.015em);
    opacity: 50%;
}

@keyframes glitch {
            0%{
                text-shadow:
                0.05em 0 0 rgba(255, 0, 0, .75),
                -0.05em -0.025em 0 rgba(0, 255, 0, .75),
                -0.025em 0.05em 0 rgba(0, 0, 255, .75);
            }

            14%{
                text-shadow:
                0.05em 0 0 rgba(255, 0, 0, .75),
                -0.05em -0.025em 0 rgba(0, 255, 0, .75),
                -0.025em 0.05em 0 rgba(0, 0, 255, .75);
            }
            
            15%{
                text-shadow:
                -0.05em 0 0 rgba(255, 0, 0, .75),
                -0.05em -0.025em 0 rgba(0, 255, 0, .75),
                -0.025em 0.05em 0 rgba(0, 0, 255, .75);
            }
            
            49%{
                text-shadow:
                -0.05em 0 0 rgba(255, 0, 0, .75),
                -0.05em -0.025em 0 rgba(0, 255, 0, .75),
                -0.025em 0.05em 0 rgba(0, 0, 255, .75);
            }
            
            50%{
                text-shadow:
                0.025em 0 0.05em rgba(255, 0, 0, .75),
                0.05em 0 0 rgba(0, 255, 0, .75),
                0 -0.05em 0 rgba(0, 0, 255, .75);
            }

            99%{
                text-shadow:
                0.025em 0 0.05em rgba(255, 0, 0, .75),
                0.05em 0 0 rgba(0, 255, 0, .75),
                0 -0.05em 0 rgba(0, 0, 255, .75);
            }

            100%{
                text-shadow:
                -0.025em 0 0 rgba(255, 0, 0, .75),
                -0.025em -0.025em 0 rgba(0, 255, 0, .75),
                -0.025em -0.05em 0 rgba(0, 0, 255, .75);
            }
}
*/
p{
    color: #EEEEEE;
}

.left-rectangle{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
     border-radius: 10px;
     height: 3rem;
     width: 30rem;
     background-color: white;
     transform: translate(-45%, 100%) rotate(45deg);
}
.left-square{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
     border-radius: 10px;
     height: 15rem;
     width: 30rem;
     background-color: white;
     transform: translate(-70%, 10%) rotate(45deg);
}

.right-rectangle{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
     border-radius: 10px;
     height: 3rem;
     width: 30rem;
     background-color: white;
     transform: translate(104%, -500%) rotate(-45deg);
     position: fixed;
     left: 50%;
}
.right-square{
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
     border-radius: 10px;
     height: 15rem;
     width: 30rem;
     background-color: white;
     transform: translate(128%, -90%) rotate(-45deg);
     position: fixed;
     left: 50%;
}